"""
Example settings for local development

Use this file as a base for your local development settings and copy
it to dinnertime/settings/local.py. It should not be checked into
your code repository.

"""
from dinnertime.settings.base import *   # pylint: disable=W0614,W0401

DEBUG = True
TEMPLATE_DEBUG = DEBUG

INTERNAL_IPS = ('127.0.0.1',)

ADMINS = (
    ('chris', 'chris@piemonster.me'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(VAR_ROOT, 'dev.db'),
    }
}

print DATABASES

INSTALLED_APPS += (
    'debug_toolbar',
    'generate_scaffold',
    'django_extensions',
)

MIDDLEWARE_CLASSES += (
    # ...
    'debug_toolbar.middleware.DebugToolbarMiddleware',
    # ...
)

EMAIL_BACKEND = 'django.core.mail.backends.dummy.EmailBackend'

# ROOT_URLCONF = 'dinnertime.urls.local'
# WSGI_APPLICATION = 'dinnertime.wsgi.local.application'

#==============================================================================
# Facebook Settings - Local
#==============================================================================
FACEBOOK_APP_ID = "122386504587538"
FACEBOOK_APP_SECRET = "2a5b65f780f16335ca624267b91c2f91"
