<tr class="{% if invite.done %}success{% endif %}">
    <td>
        <div class="btn-toolbar">
            <div class="btn-group">
                {% if invite.done %}
                    <a href="{% url invite_mark_undone invite.pk %}" class="btn ajax" data-method="post" data-refresh="#done-count" data-replace-closest="tr"><i class="icon-remove"></i></a>
                {% elif 1 == 2 %}
                    <a href="{% url invite_mark_done invite.pk %}" class="btn ajax" data-method="post" data-refresh="#done-count" data-replace-closest="tr"><i class="icon-ok"></i></a>
                {% endif %}
                <a href="#" class="btn ajax" data-method="post" data-replace-closest="tr" data-refresh="#done-count"><i class="icon-trash"></i></a>
            </div>
        </div>
    </td>
    <td>
        <div class="invite-label">
            {{ invite}}
        </div>
    </td>
</tr>