{% extends 'layout_jumbo.html' %} <!-- Change to sitebase.html if you wish -->


  {% load i18n %}

  {% block jumbo_title %}
    TableSurf.in
  {% endblock %}

  {% block jumbo_tagline %}
    Put out the shout. Share the food about.
  {% endblock %}

  {% block extra_jumbo %} <!-- If using sitebase.html set to content, if using layout_jumbo.html set to extra_jumbo -->

    <!-- <div class="row">
      <div class="span2 offset4">
        <h2 class="btn btn-primary btn-large"> I'm eating </h2>
      </div>
      <div class="span2">
        <h2 class="btn btn-primary btn-large"> I'm cooking </h2>
      </div>
    </div> -->
    {% if not request.user %}
      <div class="well" style="color:black;">
        <h3> We are currently cooking things up, please register your interest below </h3>
      
        <form method="post" action="/interest/">{% csrf_token %}
          <h3><input type="email" placeholder="you@example.com" name="email" id="id_email" /></h3>
          <h3 class="hidden2 success">Success!</h3>
          <h3 class="hidden2 failure">Failure!</h3>
          <button class="btn btn-primary"  type="submit">Notify me!</button>
        </form>
      </div>
    {% endif %}
    <h4>
      <a href="/about/" class="btn btn-primary">About Us</a>
    </h4>
  {% endblock %}

  {% block extra_body %}
    <div class="container center">
        
      {% if request.user.is_authenticated %}
        <div class="row">
          <div class="offset2 span4">
            <div class="well">
              <h2><i class="icon-bullhorn"></i> I'm cooking </h2>
              <form class="login" method="POST" action="/meal/create/">
                  {% csrf_token %}
                  {{meal_form}}<hr>
                  <button class="btn btn-primary" type="submit">Host a meal!</button>
              </form>
            </div>
          </div>
          <div class="span4">
            <div class="well">
              <h2><i class="icon-food"></i> I'm hungry</h2>
              <a class="btn btn-primary" href="/meal/"> View all meals </a>
            </div>
          </div>
        </div>

        <!--</hr>
        
        </br></br></br></br></br></br>
        <ul class="masthead-links">
          <li>
            <a href="http://github.com/piemonster" >Piemonster</a>
          </li>
          <li>
            <a href="/admin/" >Admin</a>
          </li>
          <li>
            <a href="/" >Help</a>
          </li>
        </ul> -->
      {% else %}
          {% include 'login_bar.html' %}
      {% endif %}
    </div>
  {% endblock %}

  {% block extra_js %}

    <script>
        $('form111').submit(function (event) {
            if ($('#use-js:checked').length === 0) {
                //return false
            }
            event.preventDefault();
            $.post(this.action, {
                email: $('#id_email').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            function (data) {
                console.log(data);
                if (data.success) {
                    $('.success').show();
                    $('.failure').hide();
                    //$('.once').hide();
                } else {
                    $('.success').hide();
                    $('.failure').show();
                }
            });
        });
    </script>

  {% endblock %}
          

