<div class="row-fluid">

  <div class="span4">
    <div class="well">
      <h2><i class="icon-signin"> Login </i></h2>
      <form class="login" method="POST" action="/accounts/login/">
          {% csrf_token %}
          <p><input id="id_login" type="text" placeholder="Username" name="login" maxlength="30" /></p>
          <p><input type="password" placeholder="Password" name="password" id="id_password" /></p>
          <p><label for="id_remember">Remember Me:</label><input type="checkbox" name="remember" id="id_remember" /></p>
          {% if object.meal %} <!-- we are dealing with an invite -->
          <input type="hidden" name="next" value="/meal/invite/{{object.secret}}" />
          {% endif %}
          
          <a class="button secondaryAction" href="/accounts/password/reset/">
              Forgot Password?
          </a></br>
          <p></br><button class="primaryAction" type="submit">Sign In</button></p>
      </form>
    </div>
  </div>

  <div class="span4">
    <div class="well">
      <h2><i class="icon-globe"> Login via </i></h2>
      <ul class="socialaccount_providers"> 
      {% if object.meal %} <!-- Got an invite -->
        <div class="row-fluid">  
          <div class="span3">
            <a title="Twitter" class="socialaccount_provider twitter" 
               href="/accounts/twitter/login/?next=/meal/invite/{{object.secret}}"><img src="{{STATIC_URL}}/img/fc-webicon-twitter.svg" height="50px" width="50px"> <h5> Twitter </h5></a>
          </div>

          <div class="span3">
            <a title="Google" class="socialaccount_provider google" 
               href="/accounts/google/login/?next=/meal/invite/{{object.secret}}"><img src="{{STATIC_URL}}/img/fc-webicon-googleplus.svg" height="50px" width="50px"><h5> Google </h5></a>
          </div>

          <div class="span3">
            <a title="Facebook" class="socialaccount_provider facebook" 
               href="/accounts/facebook/login/?next=/meal/invite/{{object.secret}}"><img src="{{STATIC_URL}}/img/fc-webicon-facebook.svg" height="50px" width="50px"><h5> Facebook </h5></a>
          <div>
          <div class="span3">
            <a title="LinkedIn" class="socialaccount_provider linkedin" 
               href="/accounts/linkedin/login/?next=/meal/invite/{{object.secret}}"><img src="{{STATIC_URL}}/img/fc-webicon-linkedin.svg" height="50px" width="50px"><h5> LinkedIn </h5></a>
          </div>
        </div>
      {% else %} <!-- not an invite -->
        <div class="row-fluid">  
          <div class="span3">
            <a title="Twitter" class="socialaccount_provider twitter" 
               href="/accounts/twitter/login/"><img src="{{STATIC_URL}}/img/fc-webicon-twitter.svg" height="50px" width="50px"> <h5> Twitter </h5></a>
          </div>
          <div class="span3">
            <a title="Google" class="socialaccount_provider google" href="/accounts/google/login/">
              <img src="{{STATIC_URL}}/img/fc-webicon-googleplus.svg" height="50px" width="50px">
              <h5> Google </h5>
            </a>
          </div>
          <div class="span3">
            <a title="Facebook" class="socialaccount_provider facebook" 
               href="/accounts/facebook/login/"><img src="{{STATIC_URL}}/img/fc-webicon-facebook.svg" height="50px" width="50px"><h5> Facebook </h5></a>
          </div>
          <div class="span3">
            <a title="LinkedIn" class="socialaccount_provider linkedin" 
               href="/accounts/linkedin/login/"><img src="{{STATIC_URL}}/img/fc-webicon-linkedin.svg" height="50px" width="50px"><h5> LinkedIn </h5></a>
          </div>
        </div>
      {% endif %}
      </ul>

    </div>
    <div class="well">
      <h4>
        Want to know more?
      </h4>
      <a href="/about/" class="btn btn-primary">About Us</a>
    </div>
  </div>

  <div class="span4">
    <div class="well">
      <h2><i class="icon-unlock"> Register </i></h2>
      <form class="signup" id="signup_form" method="post" action="/accounts/signup/">
          {% csrf_token %}
          <p> <input id="id_username" placeholder="Username" type="text" name="username" maxlength="30" /></p>
          <p> <input type="password" placeholder="Password" name="password1" id="id_password1" /></p>
          <p> <input type="password" placeholder="Enter password again" name="password2" id="id_password2" /></p>
          <p> <input type="text" placeholder="Email" name="email" id="id_email" /><input type="hidden" name="confirmation_key" id="id_confirmation_key" /></p>
          {% if object.meal %} <!-- we are dealing with an invite -->
          <input type="hidden" name="next" value="/meal/invite/{{object.secret}}" />
          {% endif %}
          <button type="submit">Sign Up &raquo;</button>
      </form>
    </div>
  </div>

</div>