<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block header_title %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %} This should be a basic description of the page. {% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %} Basic, Keywords, About, The, Site, Should, Be, Here {% endblock %}">
        <meta name="author" content="{% block meta_author%} Chris Franklin {% endblock %}">
        <meta name="viewport" content="width=device-width">

        {% load compress %}
        {% compress css %}
            <link rel="stylesheet" href="{{ STATIC_URL}}bootstrap/css/bootstrap.css">
            <style>
                body {
                    height:100%;
                }
            </style>
            <link rel="stylesheet" href="{{ STATIC_URL}}bootstrap/css/bootstrap-responsive.css">
            <link rel="stylesheet" href="{{ STATIC_URL}}css/main.css">
        {% endcompress %}

        {% compress css %}
            {% block extra_css %} {% endblock %}
        {% endcompress %}

        <link href='http://fonts.googleapis.com/css?family=Rum+Raisin' rel='stylesheet' type='text/css'>

        {% compress js %}
            <script src="{{ STATIC_URL}}js/modernizr2.6.2.js"></script>
        {% endcompress %}
    </head>
    <body class="bgit">
        {% load i18n %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.subject %}<strong>{{ message.subject }}</strong><br />{% endif %}
                {{ message.message }}<br />
                {% if message.is_persistent %}<a href="{% url message_mark_read message.pk %}">close</a>{% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block body %}
            <!--[if lt IE 7]>
                <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to get the most out of the modern internet.</p>
            <![endif]-->


            <div class='container bgout'>
              <div class='row-fluid'>
                <div class='content'>
                  <div class='span2'>
                    </br>
                    <h2 class="center logo"> Table Surf.in </h2></br>
                  </div>
                  <div class='span10'>
                    {% block breadcrumbs %}
                    {% endblock %}
                    <div class='page-header'>
                      <h1>
                        {% block header-link %}
                        {% endblock %}
                        {% if request.user.is_authenticated %}
                          <span class="pull-right">
                            {{request.user}} 
                            <a href='/accounts/{{request.user}}/'>
                              {% load gravatar %}

                              <img src="{% gravatar_url request.user.email 100 %}">
                            </a> 
                          </span>
                        {% endif %}
                        <br />
                        <small>
                          {% block header-description %}
                          {% endblock %}
                        </small>
                      </h1>
                    </div> <!-- End page-header -->
                  </div> <!-- End span 10 -->
                </div> <!-- End content -->
              </div> <!-- End row-fluid -->
              <div class="row-fluid">
                <div class="content">
                  <div class='span12'>
                    <!-- Main Content Area -->
                    {% block content %}
                    {% endblock %}
                    <!-- End Main Content  -->
                    </hr>
                    <footer>
                        {% block footer %} {% endblock %}
                        <p>&copy; 2012 Piemonster Technology Ltd </p>
                    </footer>
                  </div>
                </div>
            </div><!-- End container -->

        {% endblock %}

        <!-- External CDN Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
        <!-- End External CDN Scripts -->
        {% compress js %}
            <!-- Fallback to Local Javascript -->
            <script>window.jQuery || document.write('<script src="{{ STATIC_URL}}js/jquery-1.8.2.min.js"><\/script>')</script>
            <script>window.jQuery || document.write('<script src="{{ STATIC_URL}}js/jquery-ui.min.js"><\/script>')</script>
            <!-- End Fallback to Local Javascript -->
            {% include 'autocomplete_light/static.html' %}
            <!-- Bootstrap JS files -->
            <script src="{{ STATIC_URL}}bootstrap/js/bootstrap.js"></script>
            <!-- End Bootstrap JS files -->

            <!-- JQuery plugins -->
            <script src="{{ STATIC_URL}}js/plugins.js"></script>
            <!-- End JQuery plugins -->

            <!-- Site Wide Javascript -->
            <script src="{{ STATIC_URL}}js/main.js"></script>
            <script src="{{ STATIC_URL}}js/moment.min.js"></script>
            <!-- End Site Wide Javascript -->

        {% endcompress %}

        {% compress js %}
            {% block extra_js %}{% endblock %}
        {% endcompress %}

        <script> <!-- Google Analytics Code  -->
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
