

#header {
    padding-top: 5px;
}

#sidebar {
    border: solid 1px #CCCCCC;
    overflow-y: scroll;
}

#content {

}

.form-left-col {

}

.form-right-col {
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
}

li a {
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    display: block;
    color: #000000;
    border-bottom: solid 1px #CCCCCC;
    padding: 8px;
}

li a:hover {
    background-color: black;
    color: white;
}


.form-left-col input {
    margin-bottom: 15px;
    margin-top: 5px;
    width: 280px;
}

textarea {
    margin-bottom: 15px;
    margin-top: 5px;
    height: 200px;
    width: 250px;
}

label {
    display: block;
}

button {
    padding: 6px;
}