

{% extends 'accounts/userprofile/base.html' %}

{% load url from future %}


{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/dinnertime/accounts/templates/accounts/userprofile/userprofile_form.html
{% endblock %}

{% block title %}
  {% if object %}
    {% trans "Update UserProfile" %}
  {% else %}
    {% trans "Create a New UserProfile" %}
  {% endif %}
{% endblock %}

{% block header-link %}
  {% if object %}
    <a href='{% url 'accounts_userprofile_update' pk=object.pk %}'>
      {% trans "UserProfile Update" %}
    </a>
  {% else %}
    <a href='{% url 'accounts_userprofile_create' %}'>
      {% trans "UserProfile Create" %}
    </a>
  {% endif %}
{% endblock %}

{% block header-description %}
  {% if object %}
    {% trans "A view that displays a form for editing an existing object." %}
  {% else %}
    {% trans "A view that displays a form for creating an object." %}
  {% endif %}
{% endblock %}

{% block content %}
  <form action='{% if object %}{% url 'accounts_userprofile_update' pk=object.pk %}{% else %}{% url 'accounts_userprofile_create' %}{% endif %}' method='post' encoding='utf-8'>
    <fieldset>
      {% csrf_token %}
      {{ form }}
      <div class='form-actions'>
        <button class='btn btn-large btn-success' type='submit'>
          {% if object %}
            {% trans "Update" %}
          {% else %}
            {% trans "Create" %}
          {% endif %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
