

{% extends 'accounts/userprofile/base.html' %}

{% load url from future %}


{% load i18n %}
{% load inplace_edit %}
{% load avatar_tags %}

{% block filename %}
  /home/chris/Code/Piemonster/dinnertime/accounts/templates/accounts/userprofile/userprofile_detail.html
{% endblock %}

{% block title %}
  {% trans "UserProfile Detail" %}
{% endblock %}


{% block breadcrumbs %}
  
{% endblock %}


{% block header-link %}
  <a href='{% if request.user == object.user %}{% url 'avatar_change' %}{% else %}{% endif %}'>{% avatar object.user 100 %}</a>
  <a href='{% if request.user %}{{object.user.get_profile.get_absolute_url}}{% endif %}'>
    {{object.user}}'s profile
  </a>
{% endblock %}

{% block header-description %}
  {% if request.user == object.user %}
    This is your profile
    
  {% else %}
    <a href="/friends/invite/{{object.user.username}}"> Add as friend </a>
  {% endif %}
{% endblock %}

{% block content %}
  {% if request.user == object.user %}
    <div class="row-fluid">
    {% for account in request.user.socialaccount_set.all %}
      <div class="span4">
        <h2 style="text-transform:capitalize;">{{ account.provider }}</h2>
        <p><img width="50" height="50" src="{{ account.get_avatar_url }}" /></p>
        <p>UID: <a href="{{account.extra_data.link }}">{{ account.uid }}</a></p>
        <p>Username: {{ account.extra_data.username }}</p>
        <p>First Name: {{ account.extra_data.first_name }}</p>
        <p>Last Name: {{ account.extra_data.last_name }}</p>
        <p>Profile Link: <a href="{{ account.extra_data.link }}">{{ account.extra_data.link }}</a></p>
      </div>
    {% endfor %}
    </div>
  {% else %}
    This is not your profile
  {% endif %}

  <div class="row-fluid">
    <div class="span4">
      <h2><i class="icon-info-sign"> Basic Info </i></h2>
      <b> Diet: </b>{% inplace_edit "object.diet" %}<br>
      <b> Allergies: </b>
      {% for allergy in object.allergies %}
        {{ allergy }}&nbsp;
      {% endfor %}
    </div>
    <div class="span4">
      <h2><i class="icon-thumbs-down"> Dislikes </i></h2>
      {{object.dislikes.objects.all}}
    </div>
    <div class="span4">
      <h2><i class="icon-thumbs-up"> Likes </i></h2>
      {{object.objects.all}}
    </div>
  </div>
  <hr>
  <div class="row-fluid">
    <div class="span6">
      {% load comments gravatar %}
      {% get_comment_count for object as comment_count %}
      <h2><i class="icon-comments-alt"> {{comment_count}} Comment(s) </i></h2>
      {% get_comment_list for object as comment_list %}
      {% for comment in comment_list %}
        <div class="row-fluid">
          <div class="span2">
            {% if "facebook.com" in comment.user.email %}
              <img src="http://graph.facebook.com/{{comment.user.email|cut:"@facebook.com" }}/picture" />
            {% else %}
              <img src="{% gravatar_url comment.user.email 68 %}">
            {% endif %}
          </div>
          <div class="span10">
            <p><b>{{comment.user_name}}</b> - {{comment.submit_date}}</p>
            <p>{{comment.comment}}</p>
          </div>
        </div></br>
      {% endfor %}


      {% if user.is_authenticated %}
        <button type="button" class="btn" data-toggle="collapse" data-target="#comdetail{{entry.id}}">Add Comment <b class="caret"></b></button>
        <div id="comdetail{{entry.id}}" class="collapse ">
          {% get_comment_form for object as form %}
          <form action="{% comment_form_target %}" method="POST">
          {% csrf_token %}
          {{ form.comment }}
          <div class="hidden2">{{ form.honeypot }}</div>
          {{ form.content_type }}
          {{ form.object_pk }}
          {{ form.timestamp }}
          {{ form.security_hash }}
          <input type="hidden" name="next" value="{{object.get_absolute_url}}" />
          <input type="submit" class="btn btn-primary" value="Post" id="id_submit" />
          </form>
        </div>
      {% else %}
          <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
      {% endif %}
    </div>
    <div class="span6">
      <h2><i class="icon-exchange"> Activity </i></h2>
      {% for entry in actstream %}
        <p>
          {% if entry.actor.email %}
            {% if "facebook.com" in entry.actor.email %}
              <img src="http://graph.facebook.com/{{entry.actor.email|cut:"@facebook.com" }}/picture" />
            {% else %}
              <img src="{% gravatar_url entry.actor.email 68 %}">
            {% endif %}
          {% else %}
            <img src="{% gravatar_url 'nincampoooop2222@g009egl.com' 68 %}">
          {% endif %}
          {{entry}}
        </p>
      {% endfor %}
    </div>
  </div>

{% endblock %}
