

{% extends 'accounts/userprofile/base.html' %}

{% load i18n %}
{% load inplace_edit %}
{% load avatar_tags %}

{% block filename %}
  /home/chris/Code/Piemonster/dinnertime/accounts/templates/accounts/userprofile/userprofile_detail.html
{% endblock %}

{% block title %}
  {% trans "UserProfile Detail" %}
{% endblock %}


{% block breadcrumbs %}
  
{% endblock %}


{% block header-link %}
  <a href='{% if request.user == object.user %}{% url avatar_change %}{% else %}{% endif %}'>{% avatar object.user 100 %}</a>
  <a href='{% if request.user %}{{object.user.get_profile.get_absolute_url}}{% endif %}'>
    {{object.user}}'s profile
  </a>
{% endblock %}

{% block header-description %}
  {% if request.user == object.user %}
    This is your profile
    
  {% else %}
    This is not your profile
  {% endif %}
{% endblock %}

{% block content %}
  {% if request.user == object.user %}
    <div class="row-fluid">
    {% for account in request.user.socialaccount_set.all %}
      <div class="span4">
        <h2 style="text-transform:capitalize;">{{ account.provider }}</h2>
        <p><img width="50" height="50" src="{{ account.get_avatar_url }}" /></p>
        <p>UID: <a href="{{account.extra_data.link }}">{{ account.uid }}</a></p>
        <p>Username: {{ account.extra_data.username }}</p>
        <p>First Name: {{ account.extra_data.first_name }}</p>
        <p>Last Name: {{ account.extra_data.last_name }}</p>
        <p>Profile Link: <a href="{{ account.extra_data.link }}">{{ account.extra_data.link }}</a></p>
      </div>
    {% endfor %}
    </div>
  {% else %}
    This is not your profile
  {% endif %}
  <h2> Info </h2>
  <b> Diet: </b>{% inplace_edit "object.diet" %}<br>
  <b> Allergies: </b>{{object.allergies }}
  <hr>

  <h2> Activity </h2>
  {% for entry in actstream %}
    <p>{{entry}}</p>
  {% endfor %}
  <hr>

  {% load comments %}
  {% get_comment_count for object as comment_count %}
  <h2> {{comment_count}} Comment(s) </h2>
  {% render_comment_list for object %}
  {% if user.is_authenticated %}
      {% get_comment_form for object as form %}
      <form action="{% comment_form_target %}" method="POST">
      {% csrf_token %}
      {{ form.comment }}
      <div class="hidden2">{{ form.honeypot }}</div>
      {{ form.content_type }}
      {{ form.object_pk }}
      {{ form.timestamp }}
      {{ form.security_hash }}
      <input type="hidden" name="next" value="{{object.get_absolute_url}}" />
      <input type="submit" value="Add comment" id="id_submit" />
      </form>
  {% else %}
      <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
  {% endif %}
  <hr>
  
  <form action='{% url accounts_userprofile_delete pk=object.pk %}' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <a class='btn btn-success' href='{% url accounts_userprofile_update pk=object.pk %}'>
          {% trans "Update" %}
        </a>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
