

{% extends 'meals/meal/base.html' %}

{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/dinnertime/meals/templates/meals/meal/meal_detail.html
{% endblock %}

{% block title %}
  {% trans "Meal Detail" %}
{% endblock %}


{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url meals_meal_archive_index %}'>
        {% trans "Archive Index" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url meals_meal_year_archive year=object.when.year %}'>
        {% trans "Year Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url meals_meal_month_archive year=object.when.year month=object.when.month %}'>
        {% trans "Month Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url meals_meal_day_archive year=object.when.year month=object.when.month day=object.when.day %}'>
        {% trans "Day Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url meals_meal_date_detail year=object.when.year month=object.when.month day=object.when.day pk=object.pk %}'>
        {% trans "Date Detail" %}
      </a>
    </li>
  </ul>
{% endblock %}


{% block header-link %}
  <a href='/accounts/{{object.host}}/'>
    {% load gravatar %}
    <img src="{% gravatar_url request.user.email 100 %}">
  </a>&nbsp;
  <a href='{{ object.get_absolute_url }}'>{{object.host}}'s meal</a>
{% endblock %}

{% block header-description %}
  {{object.description}}
{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="span6">
      <h2>{% if object.when %}{{object.when}}{% else %} not set. {% endif %}</h2>
      <h2> 
        Guests: {{object.current_guests}} / {{object.max_guests}}
        <span class="pull-right">
          <a href= "/meal/{{object.id}}/max_guests/0/" class="btn btn-danger"><i class="icon-minus"></i> Less </a>
          <a href= "/meal/{{object.id}}/max_guests/1/" class="btn btn-success"><i class="icon-plus"></i> More </a>
        </span>
      </h2>
      <h2>
        
        <h2> Confirmed Guests </h2>
        {% for guest in meal.guest_set.all %}
          {% if guest.user.email %}
            <img src="{% gravatar_url guest.user.email 50 %}">
          {% endif %}
          {{guest.user}}
        {% endfor %}
        <h2> Invited Guests </h2>
        {% for invite in meal.invite_set.all %}
          {% if invite.contact.user.email %}
            <img src="{% gravatar_url invite.contact.email 50 %}">
          {% endif %}
          {{invite.contact}}
        {% endfor %}
        {% if request.user == object.host %}
          <hr>
          <h2> Contacts </h2>
          {% for contact in user.contacts.all %}
            {% if contact.email %}
              <img src="{% gravatar_url contact.email 50 %}">
            {% endif %}
            {{contact}}
          {% endfor %}
          <h2> Friends </h2>
          {% for friend in user.friends.all %}
            <img src="{% gravatar_url friend.from_user.email 50 %}">
            {{friend.from_user}}
          {% endfor %}
        {% endif %}
        <a class="btn btn-large btn-primary"><i class="icon-plus"></i> Invite </a>
      </h2>
    </div>
    <div class="span6">
      <h2> Where: {% if object.venue %}<a href="/venue/{{object.id}}">{{object.venue.address}}</a>{% else %} none yet! {% endif %}</h2> 
      {% load easy_maps_tags %}
      {% if object.venue %}
        <!-- Default map with 300x400 dimensions -->
        {% easy_map object.venue.address 500 400 %}
      {% endif %}
    </div>
  </div>
  
  <hr>
  <h2> I Have: <span class="pull-right"><a class="btn btn-large btn-success"><i class="icon-plus"></i> Add </a> </span></h2><hr>
  <h2> I Need: <span class="pull-right"><a class="btn btn-large btn-success"><i class="icon-plus"></i> Add </a> </span></h2><hr>
  <h2> I Want: <span class="pull-right"><a class="btn btn-large btn-success"><i class="icon-plus"></i> Add </a> </span></h2><hr>
  {% include 'meals/meal/object_table_detail.html' %}
  <form action='{% url meals_meal_delete pk=object.pk %}' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <a class='btn btn-success' href='{% url meals_meal_update pk=object.pk %}'>
          {% trans "Update" %}
        </a>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
