

{% extends 'meals/meal/base.html' %}

{% load i18n %}
{% load inplace_edit %}

{% block filename %}
  /home/chris/Code/Piemonster/dinnertime/meals/templates/meals/meal/meal_detail.html
{% endblock %}

{% block title %}
  {% trans "Meal Detail" %}
{% endblock %}


{% block breadcrumbs %}
<!--  <ul class='breadcrumb'>
    <li>
      <a href='{% url meals_meal_archive_index %}'>
        {% trans "Archive Index" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url meals_meal_year_archive year=object.when.year %}'>
        {% trans "Year Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url meals_meal_month_archive year=object.when.year month=object.when.month %}'>
        {% trans "Month Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url meals_meal_day_archive year=object.when.year month=object.when.month day=object.when.day %}'>
        {% trans "Day Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url meals_meal_date_detail year=object.when.year month=object.when.month day=object.when.day pk=object.pk %}'>
        {% trans "Date Detail" %}
      </a>
    </li>
  </ul>
-->
{% endblock %}


{% block header-link %}
  <a href='/accounts/{{object.host}}/'>
    {% load gravatar %}
    <img src="{% gravatar_url request.user.email 100 %}">
  </a>&nbsp;
  <a href='{{ object.get_absolute_url }}'>{{object.host}}'s meal</a>
{% endblock %}

{% block header-description %}
  {% inplace_edit "object.description" auto_height=1, auto_width=1, edit_empty_value="Please double click here to enter a description." %}
{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="span6">
      <h1>{% inplace_edit "object.when" %}</h1>
      <hr>
      <h2>
        
        {{object.current_guests}} / {{object.max_guests}} guests.
        <span class="pull-right">
          <a href= "/meal/{{object.id}}/max_guests/0/" class="btn btn-danger"><i class="icon-minus"></i></a>
          <a href= "/meal/{{object.id}}/max_guests/1/" class="btn btn-success"><i class="icon-plus"></i></a>
        </span></br>
        {% for guest in meal.guest_set.all %}
          </br>
          {% if guest.invite.contact.email %}
            <img src="{% gravatar_url guest.invite.contact.email 50 %}">
          {% else %}
            <img src="{% gravatar_url 'nincampoooop2222@g009egl.com' 50 %}">
          {% endif %}
          {{guest.invite.contact}}
          + 
          {% inplace_edit "guest.invite.plusones" auto_height=1, auto_width=1, edit_empty_value="add" %}
           guest(s) 
        {% endfor %}
        <hr>
        {% for invite in meal.invite_set.all %}
          {% if invite.contact.email == request.user.email or invite.contact.user == request.user %}
            {% inplace_edit "invite.status" %}
            {% inplace_edit "invite.plusones" %}
          {% endif %}
        {% endfor %}
        <h2> Invited Guests </h2>
        {% for invite in meal.invite_set.all %}
          {% if invite.status == "INVITED" %}
            {% if invite.contact.email %}
              <img src="{% gravatar_url invite.contact.email 50 %}">
            {% else %}
              <img src="{% gravatar_url 'nincampoooop2222@g009egl.com' 50 %}">
            {% endif %}
            {{invite.contact}} 
            {% if invite.max_plusones %}
              + {% inplace_edit "invite.max_plusones" %} guest(s)
            {% endif %}
            </br></br>
          {% endif %}
        {% endfor %}
        {% if request.user == object.host %}
          <form class="form-inline" method="post" action="/meal/{{object.id}}/invite/create/" data-append="#invites">
                {% csrf_token %}
                {{form.contact}}
                <div class="hidden2">{{form.max_plusones}}</div>
                <button class='btn btn-success' type='submit'>
          
                  Invite
          
                </button>
                
            </form>
            <a class='btn btn-primary' href="/friends/">
      
              Manage Contacts
      
            </a>
          <!--<h2> Contacts </h2>
          {% for contact in user.contacts.all %}
            {% if contact.email %}
              <img src="{% gravatar_url contact.email 50 %}">
            {% endif %}
            {{contact}}
          {% endfor %} 
          <h2> Friends </h2>
          {% for friend in user.friends.all %}
            <img src="{% gravatar_url friend.from_user.email 50 %}">
            {{friend.from_user}}
          {% endfor %}
        {% endif %}
        <a class="btn btn-large btn-primary"><i class="icon-plus"></i> Invite </a>-->
      </h2>
    </div>
    <div class="span6">
      <h2>{% if object.venue %}<a href="/venue/{{object.id}}">{% inplace_edit "object.venue.address" auto_height=1, auto_width=1 %}</a>{% else %}<a href="/venue/create/"> Please set a location. </a> {% endif %}</h2> 
      {% load easy_maps_tags %}
      {% if object.venue %}
        <!-- Default map with 300x400 dimensions -->
        {% easy_map object.venue.address 470 470 %}
      {% endif %}
    </div>
  </div>
  
  <hr>
  <h2> I Have: <span class="pull-right"><a class="btn btn-large btn-success"><i class="icon-plus"></i> Add </a> </span></h2><hr>
  <h2> I Need: <span class="pull-right"><a class="btn btn-large btn-success"><i class="icon-plus"></i> Add </a> </span></h2><hr>
  <h2> I Want: <span class="pull-right"><a class="btn btn-large btn-success"><i class="icon-plus"></i> Add </a> </span></h2><hr>
  <h2> Activity </h2>
  {% for entry in actstream %}
    <p>{{entry}}</p>
  {% endfor %}
  <hr>
  {% load comments %}
  {% get_comment_count for object as comment_count %}
  <h2> {{comment_count}} Comment(s) </h2>
  {% render_comment_list for object %}
  {% if user.is_authenticated %}
      {% get_comment_form for object as form %}
      <form action="{% comment_form_target %}" method="POST">
      {% csrf_token %}
      {{ form.comment }}
      <div class="hidden2">{{ form.honeypot }}</div>
      {{ form.content_type }}
      {{ form.object_pk }}
      {{ form.timestamp }}
      {{ form.security_hash }}
      <input type="hidden" name="next" value="{{object.get_absolute_url}}" />
      <input type="submit" value="Add comment" id="id_submit" />
      </form>
  {% else %}
      <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
  {% endif %}
  <hr>
  <form action='{% url meals_meal_delete pk=object.pk %}' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <a class='btn btn-success' href='{% url meals_meal_update pk=object.pk %}'>
          {% trans "Update" %}
        </a>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
