

{% extends 'meals/meal/base.html' %}

{% load url from future %}


{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/dinnertime/meals/templates/meals/meal/meal_archive.html
{% endblock %}
{% block title %}
  {% trans "Meal Archive Index" %}
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url 'meals_meal_archive_index' %}'>
        {% trans "Archive Index" %}
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href='{% url 'meals_meal_archive_index' %}'>
    {% trans "Meal Archive Index" %}
  </a>
{% endblock %}
{% block header-description %}
  {% trans "A top-level index page showing the latest objects, by date." %}
{% endblock %}
{% block content %}
  <h2>
    By Year
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href='{% url 'meals_meal_year_archive' year=date.year %}'>
          {{ date.year }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    {% trans "Recent Meals" %}
  </h2>
  {% include 'meals/meal/object_table_list.html' %}
  {% include 'meals/meal/pagination.html' %}
{% endblock %}
