

{% extends 'meals/meal/base.html' %}

{% load url from future %}


{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/dinnertime/meals/templates/meals/meal/meal_list.html
{% endblock %}

{% block header-link %}
  <a href='{% url 'meals_meal_list' %}'>
    <i class="icon-food"> 
      {% trans "Meals" %}
    </i>
  </a>
{% endblock %}

{% block header-description %}
  {% trans "hungry?" %}
{% endblock %}

{% block content %}
  <h2>
    <i class="icon-star"> 
      {% trans "Upcoming Meals" %}
    </i>
  </h2>
  <table class='table table-bordered table-striped'>
    {% load avatar_tags %}
    {% for object in object_list %}
      <tr>

          <td>
            <a href="{{object.host.get_profile.get_absolute_url}}">
              {% avatar object.host %}
            </a>
            <p class="center">{{ object.host }}</p>
          </td>

          <td>
            <h3>
              <a href='{{ object.get_absolute_url }}'>
                {% if object.name %}
                  {{ object.name }}
                {% else %}
                  {{ object }}
                {% endif %}
              </a>
            </h3>
          </td>
        
          <td>{{ object.when }}</br>{{ object.venue.address }}</td>
        
          <td>{{ object.description }}</td>
        
        
          <td>{{ object.privacy }}</td>
        
        
      </tr>
    {% endfor %}
  </table>
  <hr>
  <h2>
    <i class="icon-asterisk">
      {% trans "Meal Invites" %}
    </i>
  </h2>
  <p> No invites yet </p>
  <hr>
  <h2>
    <i class="icon-star-alt">
      
      {% trans "Past Meals" %}
    </i>
  </h2>
  <p> You have not been to any meals</p>

{% endblock %}
