

{% extends 'meals/meal/base.html' %}

{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/dinnertime/meals/templates/meals/meal/meal_detail.html
{% endblock %}

{% block title %}
  {% trans "Meal Detail" %}
{% endblock %}


{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url meals_meal_archive_index %}'>
        {% trans "Archive Index" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url meals_meal_year_archive year=object.when.year %}'>
        {% trans "Year Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url meals_meal_month_archive year=object.when.year month=object.when.month %}'>
        {% trans "Month Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url meals_meal_day_archive year=object.when.year month=object.when.month day=object.when.day %}'>
        {% trans "Day Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url meals_meal_date_detail year=object.when.year month=object.when.month day=object.when.day pk=object.pk %}'>
        {% trans "Date Detail" %}
      </a>
    </li>
  </ul>
{% endblock %}


{% block header-link %}
  <a href='/accounts/{{object.host}}/'><img class="mugshot" src="{{ object.host.get_profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}"/></a>&nbsp;
  <a href='{{ object.get_absolute_url }}'>{{object.host}}'s meal</a>
{% endblock %}

{% block header-description %}
  {{object.description}}
{% endblock %}

{% block content %}
  <h2> Venue: {% if object.venue %}<a href="/venue/{{object.id}}">{{object.venue.address}}</a>{% else %} none yet! {% endif %}</h2> 
  {% load easy_maps_tags %}
  {% if object.venue %}
    <!-- Default map with 300x400 dimensions -->
    {% easy_map object.venue.address 670 400 %}
  {% endif %}
  <hr>
  <h2> Guests: 0 / {{object.max_guests}}<span class="pull-right"><a class="btn btn-large btn-success"><i class="icon-plus"></i> Invite </a></span></h2><hr>
  <h2> I Have: <span class="pull-right"><a class="btn btn-large btn-success"><i class="icon-plus"></i> Add </a> </span></h2><hr>
  <h2> I Need: <span class="pull-right"><a class="btn btn-large btn-success"><i class="icon-plus"></i> Add </a> </span></h2><hr>
  <h2> I Want: <span class="pull-right"><a class="btn btn-large btn-success"><i class="icon-plus"></i> Add </a> </span></h2><hr>
  {% include 'meals/meal/object_table_detail.html' %}
  <form action='{% url meals_meal_delete pk=object.pk %}' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <a class='btn btn-success' href='{% url meals_meal_update pk=object.pk %}'>
          {% trans "Update" %}
        </a>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
