{% extends 'sitebase.html' %}

{% load url from future %}

{% load i18n %}
  <div class='container'>
    <div class='row'>
      <div class='page-header site-header'>
        <h1>
          {% block header %}
            <a href='{% url 'meals_venue_list' %}'>
              {% trans "Venues" %}
            </a>
          {% endblock %}
        </h1>
      </div>
      <div class='content'>
        <div class='span3'>
          {% block sidebar %}
              <ul class='nav nav-list'>
                <li class='nav-header'>
                  {% trans "Views" %}
                </li>
                <li>
                  <a href='{% url 'meals_venue_list' %}'>
                    {% trans "List View" %}
                  </a>
                </li>
                <li>
                  <a href='{% url 'meals_venue_create' %}'>
                    {% trans "Create View" %}
                  </a>
                </li>
                {% if object %}
                  <li>
                    <a href='{{ object.get_absolute_url }}'>
                      {% trans "Detail View" %}
                    </a>
                  </li>
                  <li>
                    <a href='{% url 'meals_venue_update' pk=object.pk %}'>
                      {% trans "Update View" %}
                    </a>
                  </li>
                  <li>
                    <a href='{% url 'meals_venue_delete' pk=object.pk %}'>
                      {% trans "Delete View" %}
                    </a>
                  </li>
                
                {% endif %}
                
              </ul>
          {% endblock %}

          {% block breadcrumbs %}
          {% endblock %}

              {% block header-link %}
              {% endblock %}

                {% block header-description %}
                {% endblock %}

            {% block content %}
            {% endblock %}

