

{% load i18n %}

<table class='table table-bordered table-striped'>
  
  
  {% if request.user == object.user or request.user.is_staff %}
  <thead>
    <tr>
      <th>
        {% trans "Field" %}
      </th>
      <th>
        {% trans "Value" %}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        name
      </td>
      <td><a href='{{ object.get_absolute_url }}'>{{ object.name }}</a></td>
    </tr>

  {% else %}  
  <tbody>
  {% endif %}
    <tr>
      <td>
        address
      </td>
      <td>{{ object.address }}</td>
    </tr>
    
    
  </tbody>
</table>
