

{% extends 'meals/venue/base.html' %}

{% load url from future %}


{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/dinnertime/meals/templates/meals/venue/venue_list.html
{% endblock %}

{% block header-link %}
  <a href='{% url 'meals_venue_list' %}'>
    {% trans "Venues" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "Where are you eating?" %}
{% endblock %}

{% block content %}
  <h1><i class="icon-home"> My Venues </i> </h1>
  <h1><i class="icon-star"> Find a Venue </i> </h1>
  {% include 'meals/venue/object_table_list.html' %}
  {% include 'meals/venue/pagination.html' %}
{% endblock %}
