{% load i18n %}
{% for notice in notices %}
    <a href="{{notice.get_absolute_url}}">{% blocktrans %}{{ notice }}{% endblocktrans %}</a>
{% endfor %}

baub=profiles&bgbg=2&codeHide=1234&coderequest=1234&drawentered=0&email=binkbonk4@tonklick.com&finalscore=816&firstName=test&lastName=nuts&levelscore=0&leveltitle=Level Stats&mscore=160&myInterval=1&myScore=816&mylevel=1&name=&namepass=test nuts&namerequest=test nuts&newPlayerName=dGVzdCBudXRz&newcodeHide=MTIzNA==&newcodeScore=Nzgw&noplay=0&optout=&ouch=[object Object]&penguinscore=656&playerName=test nuts&pressed=40&score=656&scoreStat=2&scorerequest=780&sendlive=0&summary=0&targLeft=991&time=0&totalscore=160&tscore=160&waiter=1&watchme=m