{% extends 'friends/base.html' %}
{% load i18n %}

{% block friends_title %}{% trans "Friends" %}{% endblock %}

{% block friends_content %}
<h3> Friends </h3>
<ul>
{% for friend in friends %}
	<li>
        {% load gravatar %}
        <img src="{% gravatar_url request.user.email 100 %}">
        <a href="{% url profile_detail username=friend.username %}">{{ friend }}</a> 
        (<a href="{% url friends_remove friend.username %}">{% trans "remove from friends" %}</a>)
    </li>
{% endfor %}
</ul>
<h3> Suggested Friends </h3>
<h3> Import Contacts </h3>
<p>{% trans "Select service from which you want to import your contacts:" %}</p>
<ul class="contact-importers">
    <li><a href="{% url friends_suggestions_import_google_contacts %}">Google</a></li>
    <li><a href="{% url friends_suggestions_import_facebook_contacts %}">Facebook</a></li>
    <li><a href="{% url friends_suggestions_import_twitter_contacts %}">Twitter</a></li>
    <li><a href="{% url friends_suggestions_import_yahoo_contacts %}">Yahoo</a></li>
    <li><a href="{% url friends_suggestions_import_linkedin_contacts %}">LinkedIn</a></li>
</ul>
{% endblock %}