{% extends 'friends/base.html' %}
{% load i18n %}

{% block friends_title %}
{% if user == invitation.to_user %}{% blocktrans with invitation.from_user as from_user %}Friends request from {{ from_user }}{% endblocktrans %}{% endif %}
{% if user == invitation.from_user %}{% blocktrans with invitation.to_user as to_user %}Friends request to {{ to_user }}{% endblocktrans %}{% endif %}
{% endblock %}

{% block friends_content %}
<div>
	{{ invitation.message }}

	<p class="buttons">
		{% if user == invitation.to_user %}
			<a href="{% url friends_accept_invitation invitation.pk %}">{% trans "Accept" %}</a>
			<a href="{% url friends_decline_invitation invitation.pk %}">{% trans "Decline" %}</a>
			<a href="{% url friends_block_user invitation.from_user.username %}">{% trans "Decline and block" %}</a>
		{% endif %}
		{% if user == invitation.from_user %}
			<a href="{% url friends_remove_invitation invitation.pk %}">{% trans "Delete" %}</a>
		{% endif %}
	</p>
</div>
{% endblock %}