

{% extends 'meals/invite/base.html' %}

{% load url from future %}


{% load i18n gravatar %}

{% block filename %}
  /home/chris/Code/Piemonster/dinnertime/meals/templates/meals/invite/invite_detail.html
{% endblock %}

{% block title %}
  {% trans "Invitation to" %} {{object.meal}}
{% endblock %}



{% block header-link %}
  <a href='{{object.meal.host.get_profile.get_absolute_url}}'><img src="{% gravatar_url object.meal.host.email 100 %}"></a> &nbsp;
  <a href='{{ object.get_absolute_url }}'>
    {% trans "An invitation to" %} {{object.meal}}
  </a>
{% endblock %}

{% block header-description %}
  {{object.meal.when}}
{% endblock %}

{% block content %}
  {% load easy_maps_tags %}

  <!-- Default map with 300x400 dimensions -->
  {% easy_map object.meal.venue.address 1170 300 %}
  {{object.meal.description}}
  {% if request.user.is_authenticated %}
    {% if object.status == "INVITED" %}
      <h2> Please RSVP </h2>
      <a href="{{object.meal.get_absolute_url}}invite/{{object.secret}}/y/" class="btn btn-success"> Accept </a>
      <a href="{{object.meal.get_absolute_url}}invite/{{object.secret}}/n/" class="btn btn-danger"> Decline </a>
    {% elif object.status == "ACCEPTED" %}
      <h2> You are attending </h2>
      <a href="{{object.meal.get_absolute_url}}invite/{{object.secret}}/n/" class="btn btn-danger"> Cancel </a>
    {% endif %}
  {% else %}
    <hr>
    <h1><i class="icon-asterisk"> You must be logged in to respond to this invite. </i> </h1><hr>
    {% include 'login_bar.html' %}
  {% endif %}
  <!--{% include 'meals/invite/object_table_detail.html' %}
  <form action='{% url 'meals_invite_delete' pk=object.pk %}' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <a class='btn btn-success' href='{% url 'meals_invite_update' pk=object.pk %}'>
          {% trans "Update" %}
        </a>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
    </fieldset>
  </form> -->
{% endblock %}
