

{% extends 'meals/invite/base.html' %}

{% load url from future %}


{% load i18n %}

{% block filename %}
  /home/chris/Code/Piemonster/dinnertime/meals/templates/meals/invite/invite_detail.html
{% endblock %}

{% block title %}
  {% trans "Invite Detail" %}
{% endblock %}



{% block header-link %}
  <a href='{{ object.get_absolute_url }}'>
    {% trans "Invite Detail" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A page representing an individual object." %}
{% endblock %}

{% block content %}
  {% include 'meals/invite/object_table_detail.html' %}
  <form action='{% url 'meals_invite_delete' pk=object.pk %}' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <a class='btn btn-success' href='{% url 'meals_invite_update' pk=object.pk %}'>
          {% trans "Update" %}
        </a>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
